body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fefefe;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
  }
  
  .artwork {
    
    display: flex;
    height: 100vh;
    width: 50vw;
  }
  .artwork img{
    margin-left: -30vh;
    height: 100%;
    object-fit: cover;
  }
  .username{
    display: flex;
    gap: 80px;
  }
  .form-container {
    
    width: 400px;
    margin-left: -100px;
  }
  .Sign-in {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 30px; /* Adjust as needed */
    font-size: 13px;
    font-weight: bold;
}

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
  }
  

  input[type="text"],
  input[type="email"],
  input[type="password"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f5f5f5; /* Background color */
    outline: none !important;;
  }
  
  .flex-checkbox {
    display: flex;
    align-items: center;
  }
  
  .flex-checkbox input[type="checkbox"] {
    margin-right: 10px; /* Adjust margin as needed */
    cursor: pointer;

  }
  .b11{
    font-size: 15px; color: rgb(123, 121, 121);
  }
  .c11{
    color: rgb(127, 126, 124); font-size: 13px;
  }
  .error-message {
    font-size: 11px;
    color: #ff4f4f;
    margin-top: -8px;
    margin-bottom: 12px;
  }
  
  button {
    width: 50%;
    padding: 10px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.1s ease;
  }
  
  button:hover {
    background-color: #ff4f4f;
  }
  

  
  /* ---------------------------- */
  @media only screen and (max-width: 768px) {
    .form-container {
      position: relative;
    }
    .container {
      display: block;
    }
    .artwork {
      position: relative;
      width: auto;
    }
    .artwork img{
      margin-left: 0vh;
      width: 100%;
      height: 150px;
      /* position: fixed; */
      object-position: center top;
    }
    .form-container{
      display: block;
      margin-top: -80vh;
      margin-left: 20px;
      width: 80%;
    }
    .username{
      display: block;
    }
    label{
      font-size: 12px;
    }
    .b11{
      font-size: 11px;
      
    }
    .c11{
        font-size: 11px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .input-group{
      margin-bottom: 5px;
    
    }
    .flex-checkbox{
      margin-top: 10px;
    }
    .Sign-in{
      font-size: xx-small;
    }
    button {
      width: 108%;
      font-size: 12px;
    }
}