<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Explore items</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- <link rel="stylesheet" href="../components/wel.css"> -->
    <link rel="stylesheet" href="../components/veri.css">

</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <img src="../img/dribble.svg" alt="Logo">
            </div>
            
            <ul class="nav-links">
                <li><a href="#">Inspiration</a></li>
                <li><a href="#">Find Work</a></li>
                <li><a href="#">Learn Design</a></li>
                <li><a href="#">Go Pro</a></li>
                <li><a href="#">Hire Designers</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
            <div class="search-nav">
                <div class="search-box">
                    <input type="text" placeholder="Search...">
                    <span class="material-symbols-outlined">search</span>
                </div>
                <div class="cart-icon">
                    <span class="material-symbols-outlined">local_mall</span>
                </div>
                <div class="profile-icon">
                    <!-- profile img -->
                    <img src="../img/profile.png" alt="Avatar Preview">
                </div>
                <button class="upload-button">Upload</button>
                <button class="toggle-button" onclick="toggleNav()">
                    <span class="material-symbols-outlined">menu</span>
                </button>
            </div>
        </div>
    </nav>
    <div class="container2">
        <div class="welcome-section2">
            <h1>Please verify your email...</h1>
            <div class="mail-img">
                <img src="../img/mail.png" alt="mail image">
            </div>
            <p>Please verify your email address. We've sent a confirmation email to:</p>
            <h5>account@refero.design</h5>
            <p>Click the confirmation link in that email to begin using Dribbble.</p>
            <p>Didn't receive the email? Check your spam folder, it may have been cought by filter. if <br>you still don't see it, you can <span style="color: tomato; cursor: pointer;font-weight: bold;">resend the confirmation email.</span></p>
            <p>Wrong email address? <span style="color: tomato; cursor: pointer;font-weight: bold;">Change it</span></p>
            
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-links">
                <div class="footer-column1">
                    <div class="logo">
                        <img src="../img/dribble.svg" alt="Logo">
                    </div>
                    <p>Dribbble is world leading cummunity for creatives to share, grow and get heird.</p>
                    <!-- social media link with the icon only -->
                    <div class="social-media-links">
                        <a href="#" class="social-link">
                            <img src="../img/icons8-dribble-24.png" alt="Facebook">
                        </a>
                        <a href="#" class="social-link">
                            <img src="../img/icons8-twitter-24.png" alt="Twitter">
                        </a>
                        <a href="#" class="social-link">
                            <img src="../img/icons8-facebook-48.png" alt="Facebook">
                        </a>
                        <a href="#" class="social-link">
                            <img src="../img/icons8-instagram-24.png" alt="Facebook">
                        </a>
                        <a href="#" class="social-link">
                            <img src="../img/icons8-pinterest-24.png" alt="Facebook">
                        </a>
                        <!-- Add more social media links as needed -->
                    </div>
                </div>
                
                <div class="footer-column">
                    <h3>For designers</h3>
                    <ul>
                        <li><a href="#">Go Pro!</a></li>
                        <li><a href="#">Explore design work</a></li>
                        <li><a href="#">Design blog</a></li>
                        <li><a href="#">Overtime podcast</a></li>
                        <li><a href="#">Playoffs</a></li>
                        <li><a href="#">Weekly Warm-up</a></li>
                        <li><a href="#">Refer a Friend</a></li>
                        <li><a href="#">Code of conduct</a></li>
                        <!-- Add more links as needed -->
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Hire designers</h3>
                    <ul>
                        <li><a href="#">Post a job opening</a></li>
                        <li><a href="#">Post a freelance project</a></li>
                        <li><a href="#">Search for designers</a></li>
                        <li><a href="#"><b>Brands</b></a></li>
                        <li><a href="#">Adverties with us</a></li>
                        <!-- Add more links as needed -->
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Media kit</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">API</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Cookie policy</a></li>
                                                                      
                        <!-- Add more links as needed -->
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Directories</h3>
                    <ul>
                        <li><a href="#">design jobs</a></li>
                        <li><a href="#">Designers for hire</a></li>
                        <li><a href="#">freelance Designers for hire</a></li>
                        <li><a href="#">Tags</a></li>
                        <li><a href="#">Places</a></li>
                        <li><a href="#"><b>Design assets</b></a></li>
                        <li><a href="#">Dribbble Marketplace</a></li>
                        <li><a href="#">Creatives Market</a></li>
                        <li><a href="#">Fontspring</a></li>
                        <li><a href="#">Font Squirrel</a></li>
                        <!-- Add more links as needed -->
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Design Resources</h3>
                    <ul>
                        <li><a href="#">Freelancing</a></li>
                        <li><a href="#">Design heiring</a></li>
                        <li><a href="#">Design Portfolio</a></li>
                        <li><a href="#">Design Education</a></li>
                        <li><a href="#">Design Consulting</a></li>
                        <li><a href="#">Design Industry Trends</a></li>
                        <!-- Add more links as needed -->
                    </ul>
                </div>
                <!-- Add more footer columns as needed -->
            </div>
            
        </div>
        <hr class="line">
        <div class="footer-info">
            <p>© 2023 Dribbble. All rights reserved.</p>
            <div  class="u11" style="display: flex; align-items: center; justify-content: center;">
                <p>20,501,853 shots dribbbled</p>
                <img src="../img/icons8-dribble.svg" alt="dribbbled" style="height: 25px; width: 25px;margin-top: 8px; margin-left: 2px;">
            </div>
        </div>
    </footer>
    
    <script>
        function toggleNav() {
        var navLinks = document.querySelector('.nav-links');
        navLinks.classList.toggle('active');
}


    </script>
</body>
</html>
